<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="../css/style.css" rel="stylesheet">
    <script language="JavaScript">
        function showform(dowhat) {
          /*
          * four DIVS: browse, insert, update, delete
          * this function sets one visible the others not
          */
          if (dowhat == 'insert') {
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'none';
          }
          else if (dowhat == 'update') {
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'block';
          }
          else if (dowhat == 'delete') {
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
          }
          else if (dowhat == 'all') {
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'block';
          }
          else { //by default display browse
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
          }
        }
        function newClub() { showform('insert'); }
        function updateClub() { showform('update'); }
        function browseClubs() { showform('browse'); }
        function populate(club_id)
        {
            let table = document.getElementById("clubs_table");
            for (let i = 0, row; row = table.rows[i]; i++) {
                let isClub = table.rows[i].getAttribute("data-i") == club_id;
                if(isClub)
                {
                    let club = table.rows[i];
                    let name = club.getAttribute("data-n");
                    let desc = club.getAttribute("data-d");
                    let addr = club.getAttribute("data-a");
                    let zip = club.getAttribute("data-z");
                    let city = club.getAttribute("data-c");
                    let state = club.getAttribute("data-s");
                    document.getElementById('upd-id').innerHTML = club_id;
                    document.getElementById('upd-name').value = name;
                    document.getElementById('upd-desc').value = desc;
                    document.getElementById('upd-address').value = addr;
                    document.getElementById('upd-zip').value = zip;
                    document.getElementById('upd-city').value = city;
                    document.getElementById('upd-state').value = state;
                }
            }

        }
      </script>
</head>

<body onload="browseClubs()">
<nav><a href="players">Players</a> | <a href="clubs">Clubs</a> | <a href="holes">Holes</a> | <a href="hole_scores">Hole Scores</a> | <a href="club_members">Club Members</a></nav>
    <h1>Clubs</h1>
    Add, remove, or edit a club.<br>
</br>
    <div id="search club" class="search">
        <form method="GET" action="/clubs" id="search club" class="search_form">
          <legend><strong>Search for a club</strong></legend>
          <fieldset class="fields">
              <table>
                  <tr>
                      <td><label> name</label></td>
                      <td><input type="text" name="club_name"></td>
                  </tr>
                  <tr>
                    <td><label> address</label></td>
                    <td><input type="text" name="address"></td>
                </tr>
                <tr>
                    <td><label> zip_code</label></td>
                    <td><input type="text" name="zip"></td>
                </tr>
                <tr>
                    <td><label> city</label></td>
                    <td><input type="text" name="city"></td>
                </tr>
                <tr>
                    <td><label> state</label></td>
                    <td><input type="text" name="state"></td>
                </tr>
              </table>
          </fieldset>
          <input class="btn" type="submit" id="search club" value="search club">
        </form>
      </div>
    <div id="browse" class="content">
        <table id = "clubs_table" border="1" cellpadding="5">
            <thead>
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr data-i={{this.club_id}} data-n="{{this.name}}" data-d="{{this.description}}"
                data-a="{{this.address}}" data-z="{{this.zip_code}}" data-c="{{this.city}}" data-s="{{this.state}}">
                    <td>{{this.club_id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.address}}</td>
                    <td>{{this.zip_code}}</td>
                    <td>{{this.city}}</td>
                    <td>{{this.state}}</td>
                    <td><button type="button" onclick="updateClub(); populate({{this.club_id}});">EDIT</button></td>
                    <td><button type="button" onclick="deleteClub({{this.club_id}})">DELETE</button></td>
                    <!--Add buttons here-->
                </tr>
                {{/each}}
            </tbody>
            </table>
        <button type="button" onclick="newClub()">Add</button>
    </div>
    <script src="./js/delete_club.js"></script>

    <div id="insert">
        <form id="addclub">
            <table border="1" cellpadding="5">
                <tr>
                    <th>name</th>
                    <th>description</th>
                    <th>address</th>
                    <th>zip_code</th>
                    <th>city</th>
                    <th>state</th>
                </tr>
                <tr>
                    <td><input type="text" name="name" id="input_name"></td>
                    <td><input type="text" name="description" id="input_description"></td>
                    <td><input type="text" name="address" id="input_address"></td>
                    <td><input type="text" name="zip_code" id="input_zip"></td>
                    <td><input type="text" name="city" id="input_city"></td>
                    <td><input type="text" name="state" id="input_state"></td>
                </tr>
            </table>
            <input type="submit" value="Add Club">
        </form>
    </div>
    <script src="./js/add_club.js"></script>

    <div id="update">
        <form id="update_club">
            <table border="1" cellpadding="5">
                <tr>
                    <th>club_id</th>
                    <th>name</th>
                    <th>description</th>
                    <th>address</th>
                    <th>zip_code</th>
                    <th>city</th>
                    <th>state</th>
                </tr>
                <tr>
                    <td><label id="upd-id"></label></td>
                    <td><input id="upd-name" type="text" name="name"></td>
                    <td><input id="upd-desc" type="text" name="description"></td>
                    <td><input id="upd-address" type="text" name="address"></td>
                    <td><input id="upd-zip" type="text" name="zip_code"></td>
                    <td><input id="upd-city" type="text" name="city"></td>
                    <td><input id="upd-state" type="text" name="state"></td>
                </tr>
            </table>
            <input type="submit" value="update club">
        </form>
    </div>
    <script src="./js/update_club.js"></script>
</body>
<footer>&copy;2022 Simon Shen, Allan Hillyer</footer>