<html>

<head>
  <title>MiniGolf Fanatics</title>
  <link href="../css/style.css" rel="stylesheet">
  <script language="JavaScript">
    function showform(dowhat) {
      /*
      * four DIVS: browse, insert, update, delete
      * this function sets one visible the others not
      */
      if (dowhat == 'insert') {
        document.getElementById('browse').style.display = 'block';
        document.getElementById('insert').style.display = 'block';
        document.getElementById('update').style.display = 'none';

      }
      else if (dowhat == 'update') {
        document.getElementById('browse').style.display = 'block';
        document.getElementById('insert').style.display = 'none';
        document.getElementById('update').style.display = 'block';

      }
      else if (dowhat == 'delete') {
        document.getElementById('browse').style.display = 'block';
        document.getElementById('insert').style.display = 'none';
        document.getElementById('update').style.display = 'none';

      }
      else if (dowhat == 'all') {
        document.getElementById('browse').style.display = 'block';
        document.getElementById('insert').style.display = 'block';
        document.getElementById('update').style.display = 'block';

      }
      else { //by default display browse
        document.getElementById('browse').style.display = 'block';
        document.getElementById('insert').style.display = 'none';
        document.getElementById('update').style.display = 'none';

      }
    }
    function newPlayer() { showform('insert'); }
    function updatePlayer() { showform('update'); }
    function browsePlayers() { showform('browse'); }
    function populate(player_id)
        //console.log("populate!");
        {
            let table = document.getElementById("players_table");
            for (let i = 0, row; row = table.rows[i]; i++) {
                let isPlayer = table.rows[i].getAttribute("data_pid") == player_id;
                console.log("populate!");
                if(isPlayer)
                {
                    let player = table.rows[i];
                    let name = player.getAttribute("data_name");
                    let address = player.getAttribute("data_add");
                    let zip = player.getAttribute("data_zip");
                    let city = player.getAttribute("data_city");
                    let state = player.getAttribute("data_state");
                    let club = player.getAttribute("data-f");
                    document.getElementById('upd_club_id').value = club;
                    document.getElementById('upd_pid').innerHTML = player_id;
                    document.getElementById('upd_name').value = name;
                    document.getElementById('upd_address').value = address;
                    document.getElementById('upd_zip').value = zip;
                    document.getElementById('upd_city').value = city;
                    document.getElementById('upd_state').value = state;
                }
            }

        }
  </script>
</head>

<body onload="browsePlayers()">
  <nav><a href="players">Players</a> | <a href="clubs">Clubs</a> | <a href="holes">Holes</a> | 
    <a href="hole_scores">Hole Scores</a> | <a href="/club_members">Club Members</a></nav>
  <h1>Players</h1>
  Add, Edit, or Delete Players.<br>
</br>
<div id="search player" class="search">
  <form method="GET" action='/players' class="search_form">
    <legend><strong>Search for a player</strong></legend>
    <fieldset class="fields">
      <table>
        <tr>
            <td><label> name</label></td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
          <td><label> address</label></td>
          <td><input type="text" name="address"></td>
      </tr>
      <tr>
          <td><label> zip_code</label></td>
          <td><input type="text" name="zip"></td>
      </tr>
      <tr>
          <td><label> city</label></td>
          <td><input type="text" name="city"></td>
      </tr>
      <tr>
          <td><label> state</label></td>
          <td><input type="text" name="state"></td>
      </tr>
    </table>
    </fieldset>
    <input class="btn" type="submit" id="search player" value="Search Players">
    <button><a href="players">RESET</a></button>
  </form>
</div><!-- insert -->

  <div id="browse" class="content">
    <table id = "players_table" border="1" cellpadding="5" class="content_table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data_pid={{this.player_id}} data_name="{{this.name}}" data-f="{{this.favorite_course}}" data_add="{{this.address}}"
         data_zip={{this.zip_code}} data_city="{{this.city}}" data_state="{{this.state}}">
            <td>{{this.player_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.favorite_club}}</td>
            <td>{{this.favorite_club_name}}</td>
            <td>{{this.address}}</td>
            <td>{{this.zip_code}}</td>
            <td>{{this.city}}</td>
            <td>{{this.state}}</td>
            <td><button type="button" onclick="updatePlayer(); populate({{this.player_id}});">EDIT</button></td>
            <td><button onclick="deletePlayer({{this.player_id}})">DELETE</button></td>
        </tr>
        {{/each}}
    </tbody>
<script src="./js/delete_player.js"></script>
</table>
    <button type="button" onclick="newPlayer()">ADD</button>
  </div> <!-- browse -->
  <div id="insert">
    <form id="add_player">
      <table border="1" cellpadding="5">
            <tr>
                <th>name</th>
                <th>favorite_course</th>
                <th>address</th>
                <th>zip_code</th>
                <th>city</th>
                <th>state</th>
            </tr>
            <tr>
                <td><input id="input-name" type="text" name="name"></td>
                <td>
                <select name="input_club_id" id="input_club_id">
                <option value="test">Select a Club</option>
                {{#each clubs}}
                <option value="{{this.club_id}}">{{this.name}}</option>
                {{/each}}
                </select>
                </td>
                <td><input id="input-address" type="text" name="address"></td>
                <td><input id="input-zip" type="number" name="zip_code"></td>
                <td><input id="input-city" type="text" name="city"></td>
                <td><input id="input-state" type="text" name="state"></td>
            </tr>
        </table>
      <input type="submit" id="addPerson" value="Add Player" onClick="browsePlayers()">
      <input class="btn" type="button" value="Cancel" onClick="browsePlayers()">
    </form>
  <script src="./js/add_player.js"></script>
  </div><!-- insert -->

  <div id="update">
    <form id="update_player">
        <table border="1" cellpadding="5">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>favorite_club</th>
                <th>address</th>
                <th>zip_code</th>
                <th>city</th>
                <th>state</th>
            </tr>
            <tr>
                <td><label id="upd_pid"></label></td>
                <td><input id="upd_name" type="text" name="name"></td>
                <td>
                <select name="upd_club_id" id="upd_club_id">
                <option value="test">Select a Club</option>
                {{#each clubs}}
                <option value="{{this.club_id}}">{{this.name}}</option>
                {{/each}}
                </select>
                </td>
                <td><input id="upd_address" type="text" name="address"></td>
                <td><input id="upd_zip" type="number" name="zip_code"></td>
                <td><input id="upd_city" type="text" name="city"></td>
                <td><input id="upd_state" type="text" name="state"></td>
            </tr>
        </table>
        <input class="btn" type="submit" value="update_player">
        <input class="btn" type="button" value="Cancel" onClick="browsePlayers()">
    </form>
    <script src="./js/update_player.js"></script>
  </div><!-- insert -->

</body>
<footer>&copy;2022 Simon Shen, Allan Hillyer</footer>
</html>